@import 'bootstrap/scss/bootstrap.scss'

  
*
  margin: 0
  padding: 0

body
  background: #f1f1f1f

.text-center
  text-align: center

.spinner-border
  margin-top: 30px
  
.search-block,
.list-block
  margin-top: 30px

.card
  margin-bottom: 20px